<footer>		
<div class="footer-bottom">
  <div class="fp-container">
    <div class="row">
      <div class="col-sm-4" id="footer-contact-info">
        <ul>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a href="tel:+354 528 1000">Tel: +354 528 1000</a>
          </li>
          <li>
            <i class="fa fa-map-marker fa-fw"></i>
            Borgartún 21A, 105 Reykjavík
          </li>
          <li>
            <i class="fa fa-clock-o fa-fw"></i>
            Open Mon-Thu 9:00-16:00 and Fri 9:00-12:00
          </li>
          <li>
            <i class="fa fa-book fa-fw"></i>
            <a href="/services/contact-us/">Contact us</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            information@statice.is
          </li>
          <li>
            <i class="fa fa-facebook-square fa-fw"></i>
            <a href="https://facebook.com/hagstofan">facebook.com/hagstofan</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 col-sm-offset-4 hidden-xs" id="footer-branding">
        <span class="addr-title">
          <img
            src="//hagstofan.s3.amazonaws.com/static/img/hagstofa_1_en_footer.png"
            alt="Hagstofa Íslands"
          />
        </span>
        <hr />

        <div id="footer-logos">
          <img id="eurostat-logo" src="//hagstofan.s3.amazonaws.com/static/img/eurostat_1.png" alt="Eurostat" />
          <img
            id="carbon-fund-logo"
            src="//hagstofan.s3.amazonaws.com/static/img/kolvidur_1.png"
            alt="Iceland Carbon Fund"
          />
          <img
            id="green-steps-logo"
            src="//hagstofan.s3.amazonaws.com/static/img/hvitt_graen_skref_logo.png"
            alt="Græn skref"
          />
        </div>

        <div class="cert-item">
          <img
            class="cert-img"
            src="//hagstofan.s3.amazonaws.com/static/img/EQP_ISO27001_mark_white.png"
            alt="EQP ISO/IEC 27001 mark"
          />
          <span id="cert-numbers">
            <span class="cert-number">IS 643927</span>
            <span class="cert-number">EQ 717464</span>
          </span>
        </div>

        <div id="equal-pay">
          <img
            src="//hagstofan.s3.amazonaws.com/static/img/EqualPay_2020_2023_secondaryUse_on_dark_background.png"
            alt="Equal pay 2020-2023 mark"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% include scripts.html %}			

</footer>
